name: Dev CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  call-shared-ci:
    uses: ./.github/workflows/shared_ci.yml
    with:
      branch: dev